//Anidacion
.caja { 
    h2 {
        color: black;
        font-family: Arial;
    }

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;
    }
}
//se puede anidar los estilos, para tomar distintas etiquetas y/o componentes